.error{
    color: $color-red-1;
    font-size: $fs-14;
}
button {
    text-decoration: none;
    border: 0;
    border-radius: 20px;
    background: $color-green-1;
    padding: 10px 20px;
    @apply text-white font-bold ;
}
.welcome{
    @apply text-center py-[20px];
    & form{
        @apply w-[300px] my-[20px] mx-auto;
    }
    & label{
        @apply block mt-[20px] mb-[10px]
    }
    & input{
        border-radius: 20px;
        border: 1px solid $color-white-2;
        outline: none;
        color: $color-black-2;
        margin: 10px auto;
        @apply w-full p-[10px];
    }
    & span{
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;
    }
}